<% @user = User.new %>
<%= form_for (@user) do |f| %>

  <div class="field">
    <%= f.label :Имя %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Фамилия %>
    <%= f.text_field :sname, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Телефон %>
    <%= f.phone_field :phone, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Страна %>
    <%= f.text_field :country, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Город %>
    <%= f.text_field :city, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Улица %>
    <%= f.text_field :street, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Дом %>
    <%= f.text_field :number, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Квартира %>
    <%= f.text_field :appartament, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Индекс %>
    <%= f.text_field :postindex,class: 'form-control' %>
  </div>

  <div class="user_action">
    <%= f.submit 'Создать аккаунт', class: 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>