<div class="avatar">
  <h3>
    <%= @user.name %>
    <%= @user.sname %>
  </h3>
  <% if @user.image.blank? %>
    <%= image_tag 'none_avatar.jpg' %>
  <% else %>
    <%= image_tag @user.image_url %>
  <% end %>
  <br/>
  <%= link_to 'Редактировать личные данные', edit_user_path(@user), id: 'edit_user_link', remote: true %>
</div>
<div class="orders">
  <% if checks? %>
    <h3>
      Подтвержденные заказы
    </h3>
    <% if count == 1 %>
      <p>
        Дата заказа:
        <%= users_check.date %>
        <span>
          Код заказа:
          <%= users_check.number %>
        </span>
      </p>
      <%= product_name(users_confirm_order(users_check.number).product_id) %>
      <%= users_confirm_order(users_check.number).sum %>
    <% else %>
      <% users_checks.find_each do |check| %>
        <p>
          Дата заказа:
          <%= check.date %>
          <span>
          Код заказа:
            <%= check.number %>
        </span>
        </p>
        <% users_confirm_orders(check.number).find_each do |order| %>
          <%= product_name(order.product_id) %>
          <%= order.sum %>
          <br/>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if orders? %>
    <h3>
      Неподтвержденные заказы
    </h3>
    <% ordercount.find_each do |order| %>
      <p>
        Дата заказа:
        <%= order.date %>
      </p>
      <%= product_name(order.product_id) %>
      <%= order.amount %>
      <%= order.sum %>
    <% end %>
    <p>
      <%= link_to 'Подтвердить заказы', orders_show_path %>
    </p>
  <% end %>
  <% if cookies[:cart].present? %>
    <h3>
      Товары в корзине
    </h3>
    <% cookies[:cart].split(',').each do |id| %>
      <%= product_name(id) %>
    <% end %>
    <p>
      <%= link_to 'Купить!', cart_path %>
    </p>
  <% end %>
</div>