<h1>Cart</h1>
<% if @count_of_products == 0%>
  <p>
    Корзина пуста
  </p>
<% else %>
  <p >
    Количество товара в корзине <%= @count_of_products %>
  </p>
<% end %>
<% if cookies[:cart].present? %>
  <% cookies[:cart].split(',').each do |id| %>
    <div id = "product_in_cart">
      <%= find_product_in_cart(id) %>
      <%= find_products_price_in_cart(id) %>
      <%=label_tag 'Введите количестов товара' %>
      <%= text_field_tag 'amount','1', maxlength: 20%>
    </div>
  <% end %>
  <br/>
  <p>
    Общая сумма корзины <%= @sum %>
  </p>
  <%= link_to 'Очистить корзину', clear_cart_path %>
<% end %>

