<h1>Cart</h1>
<% if @count_of_products == 0%>
  <p>
    Корзина пуста
  </p>
<% else %>
  <p >
    Количество товара в корзине <%= @count_of_products %>
  </p>
<% end %>
<% if cookies[:cart].present? %>
  <% if current_user.present? %>
    <%= form_tag(orders_create_path, method: 'get') do %>
      <% cookies[:cart].split(',').each do |id| %>
        <%= find_product_in_cart(id).to_s %>
        <%= find_products_price_in_cart(id).to_s %>
        <%=label_tag 'Введите количестов товара' %>
        <%= text_field_tag id, '1', maxlength: 20%>
      <% end %>
      <br>
      <%= submit_tag 'Оформить заказ', data: { confirm: 'Вы уверены?' }%>
    <% end %>
  <% else %>
    <% cookies[:cart].split(',').each do |id| %>
      <%= find_products(id).to_s %>
      <%= find_products_price(id).to_s %>
      <%=label_tag 'Введите количестов товара' %>
      <%= text_field_tag id ,'1', maxlength: 20%>
    <% end %>
    <%= button_to 'Оформить заказ', registration_path,  method: :get%>
  <% end %>
  <br/>
  <p>
    Общая сумма корзины <%= @sum %>
  </p>
  <%= link_to 'Очистить корзину', clear_cart_path %>
<% end %>

