<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class = "flex-container">
    <div class = "menu">
      <p>
        <%= link_to 'На главную', root_path %>
      </p>
      <%unless current_user%>
        <p>
          <%= link_to 'Registration', registration_path %>
        </p>
        <p>
          <%= link_to 'Log In', sessions_login_path %>
        </p>
      <%else%>
        <p>
          <%= link_to 'Log Out', sessions_logout_path %>
        </p>
      <%end%>
    </div>

    <div class ="user_name">
      <%= current_user.name if current_user%>
    </div>
    <br>
    <%= yield %>

  </div>
  </body>
</html>
